body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --montserrat-medium-14: Montserrat;
  --tradegothic-bold-16: "TradeGothic LT Extended";

  /* font sizes */
  --montserrat-medium-14-size: 14px;
  --tradegothic-bold-16-size: 16px;
  --tradegothic-bold-20-size: 20px;
  --font-size-25xl: 44px;
  --font-size-7xl: 26px;
  --font-size-16xl: 35px;
  --montserrat-bold-24-size: 24px;
  --montserrat-medium-12-size: 12px;
  --font-size-lgi: 19px;
  --montserrat-semibold-32-size: 32px;
  --tradegothic-bold-40-size: 40px;

  /* Colors */
  --color-gray-100: #fafbfc;
  --color-gray-200: #79747e;
  --color-gray-300: #1c1b1f;
  --blackish-green: #112211;
  --color-gray-400: rgba(17, 34, 17, 0.5);
  --color-gray-500: rgba(17, 34, 17, 0.75);
  --color-gray-600: rgba(17, 34, 17, 0.78);
  --color-gray-700: rgba(17, 34, 17, 0.4);
  --color-gray-800: rgba(17, 34, 17, 0.25);
  --color-gray-900: rgba(17, 34, 17, 0.8);
  --color-gray-1000: rgba(17, 34, 17, 0.7);
  --mint-green: #8dd3bb;
  --color-mediumaquamarine-100: rgba(141, 211, 187, 0.4);
  --color-lightcyan: #cdeae1;
  --neutrals: #fff;
  --slamon: #ff8682;
  --color-lavender: #d7e2ee;
  --color-black: #000;

  /* Gaps */
  --gap-45xl: 64px;
  --gap-13xl: 32px;
  --gap-base: 16px;
  --gap-xl: 20px;
  --gap-5xl: 24px;
  --gap-xs: 12px;
  --gap-5xs: 8px;
  --gap-21xl: 40px;
  --gap-9xs: 4px;
  --gap-4xl: 23px;

  /* Paddings */
  --padding-132xl: 151px;
  --padding-79xl: 98px;
  --padding-xl: 20px;
  --padding-45xl: 64px;
  --padding-23xl: 42px;
  --padding-5xl: 24px;
  --padding-lgi-5: 19.5px;
  --padding-base: 16px;
  --padding-9xs: 4px;
  --padding-5xs: 8px;
  --padding-3xs: 10px;
  --padding-base-5: 15.5px;
  --padding-sm: 14px;
  --padding-smi: 13px;
  --padding-158xl: 177px;
  --padding-69xl: 88px;
  --padding-4xs-5: 8.5px;
  --padding-xs: 12px;
  --padding-9xs-5: 3.5px;
  --padding-11xs-5: 1.5px;
  --padding-2xs: 11px;
  --padding-13xl: 32px;
  --padding-9xl: 28px;
  --padding-11xs: 2px;
  --padding-11xl: 30px;
  --padding-190xl: 209px;
  --padding-xs-5: 11.5px;
  --padding-mini: 15px;
  --padding-14xl: 33px;
  --padding-42xl: 61px;
  --padding-12xs: 1px;

  /* Border radiuses */
  --br-11xl: 30px;
  --br-xl: 20px;
  --br-9xs: 4px;
  --br-xs: 12px;
  --br-base: 16px;
  --br-5xs: 8px;
  --br-5xl: 24px;

  /* Effects */
  --cards-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);
}

body {
  margin: 0;
  line-height: normal;
}

.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
}

:root {

  /* fonts */
  --font-montserrat: 'system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"';
  --small-paragraph: "system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"";
  --paragraph-body: 'system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"';
  --px-regular: 'system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"';
  --font-inter: 'system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"';
  --font-adamina: 'system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"';
  --h5-medical: 'system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"';

  /* font sizes */
  --font-size-sm: 14px;
  --small-paragraph-size: 16px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --px-regular-size: 22px;
  --h3-medical-size: 18px;
  --heading-h4-size: 35px;
  --font-size-9xl: 28px;
  --font-size-2xl: 21px;
  --heading-h2-size: 55px;
  --font-size-25xl: 44px;
  --font-size-14xl: 33px;
  --heading-h6-size: 20px;
  --font-size-6xl: 25px;
  --font-size-24xl: 43px;
  --font-size-15xl: 34px;
  --font-size-7xl: 26px;
  --font-size-11xl-4: 30.4px;
  --font-size-45xl: 64px;
  --font-size-32xl: 51px;
  --font-size-19xl: 38px;
  --font-size-59xl: 78px;
  --font-size-43xl: 62px;
  --font-size-28xl: 47px;
  --font-size-11xl: 30px;
  --h5-medical-size: 12px;
  --font-size-smi: 13px;
  --font-size-2xs: 11px;
  --font-size-mid: 17px;
  --font-size-mini: 15px;
  --font-size-4xs: 9px;
  --font-size-10xl: 29px;
  --h1-medical-size: 36px;

  /* Colors */
  --white: #fff;
  --color-gray-100: #fdfefe;
  --color-gray-200: #fdfefd;
  --color-gray-300: #fcfdfd;
  --color-gray-400: #898c8e;
  --gray-3: #828282;
  --text-02: #717d7d;
  --text: #262626;
  --color-gray-500: #1b1f2d;
  --color-gray-600: #06203b;
  --color-gray-700: #061f3b;
  --color-gray-800: #1a1a1a;
  --color-gray-900: #181818;
  --s2: #14142b;
  --color-dark: #121212;
  --neutral-neutral-900: #0d1217;
  --neutral-100: #101010;
  --color-gray-1000: #010223;
  --color-gray-1100: #030303;
  --black-secondary-20: rgba(0, 0, 0, 0.2);
  --color-gray-1200: rgba(255, 255, 255, 0.1);
  --color-gray-1300: rgba(255, 255, 255, 0);
  --color-gray-1400: rgba(0, 0, 0, 0);
  --color-gray-1500: rgba(13, 18, 23, 0.3);
  --color-gray-1600: rgba(18, 18, 18, 0.7);
  --color-gray-1700: rgba(113, 125, 125, 0.75);
  --white80: rgba(255, 255, 255, 0.8);
  --color-darkgray-100: #a7a7a7;
  --color-darkgray-200: #95a3b1;
  --color-darkgray-300: #95a3b0;
  --neutral-neutral-200: #989da3;
  --color-gainsboro-100: #e6e6e6;
  --gray-5: #e0e0e0;
  --color-gainsboro-200: #d9d9d9;
  --color-gainsboro-300: rgba(211, 219, 229, 0.05);
  --color-gainsboro-400: rgba(230, 230, 230, 0.09);
  --color-mediumblue: #313ef7;
  --color-dodgerblue-100: #4799ff;
  --medicompboldcolor: #457fed;
  --blue-1: #2f80ed;
  --color-darkslategray-100: #464646;
  --gray-1: #333;
  --color-darkslategray-200: rgba(31, 42, 55, 0.05);
  --color-darkslategray-300: rgba(57, 57, 57, 0.75);
  --labels-primary: #000;
  --stroke: #f7f8f8;
  --input-field-background: #f3f4f8;
  --gray-6: #f2f2f2;
  --color-whitesmoke-100: #ebebeb;
  --page-background: #e8eaee;
  --neutral-neutral-50: #e9eaeb;
  --color-lightsteelblue-100: #abb9c5;
  --neutral-neutral-300: #697079;
  --gray-2: #4f4f4f;
  --gray-4: #bdbdbd;
  --no-color-0: rgba(196, 196, 196, 0);
  --color-slategray-100: #4b657e;
  --color-slategray-200: #415a74;
  --color-lightslategray: #8a96bc;
  --color-darkslateblue-100: #263257;
  --color-darkslateblue-200: #232f55;
  --color-darkslateblue-300: rgba(20, 55, 106, 0.45);
  --color-blanchedalmond: #fcefca;
  --red: #eb5757;
  --green-1: #219653;
  --orange: #f2994a;
  --secondary-secondary-500: #ffc700;
  --color-royalblue-100: #3c78ec;
  --medicompcolorscheme: #3875eb;
  --color-steelblue-100: #7d8bb7;
  --color-cornflowerblue: #6a99f2;

  /* Gaps */
  --gap-19xl-5: 38.5px;
  --gap-lgi: 19px;
  --gap-9xs: 4px;
  --gap-xl: 20px;
  --gap-2xs-3: 10.3px;
  --gap-mini: 15px;
  --gap-5xl: 24px;
  --gap-base: 16px;
  --gap-96xl: 115px;
  --gap-38xl: 57px;
  --gap-10xl: 29px;
  --gap-15xl: 34px;
  --gap-mid: 17px;
  --gap-14xl: 33px;
  --gap-18xl: 37px;
  --gap-lg: 18px;
  --gap-13xl: 32px;
  --gap-17xl: 36px;
  --gap-126xl: 145px;
  --gap-53xl: 72px;
  --gap-10xs: 3px;
  --gap-72xl: 91px;
  --gap-26xl: 45px;
  --gap-4xl: 23px;
  --gap-21xl: 40px;
  --gap-8xl: 27px;
  --gap-2xs-2: 10.2px;
  --gap-7xs-5: 5.5px;
  --gap-2xl: 21px;
  --gap-3xs: 10px;
  --gap-6xl: 25px;
  --gap-xs: 12px;
  --gap-689xl: 708px;
  --gap-286xl: 305px;
  --gap-50xl: 69px;
  --gap-4xs: 9px;
  --gap-11xl: 30px;
  --gap-7xs: 6px;
  --gap-8xs: 5px;
  --gap-6xs: 7px;
  --gap-5xs: 8px;
  --gap-smi: 13px;
  --gap-sm: 14px;
  --gap-6xs-3: 6.3px;
  --gap-16xl: 35px;
  --gap-64xl: 83px;
  --gap-22xl: 41px;
  --gap-11xs: 2px;
  --gap-sm-8: 13.8px;
  --gap-12xl: 31px;
  --gap-2xs: 11px;
  --gap-236xl: 255px;
  --gap-108xl: 127px;
  --gap-45xl: 64px;
  --gap-3xl: 22px;
  --gap-61xl: 80px;
  --gap-mid-6: 17.6px;
  --gap-21xl-5: 40.5px;

  /* Paddings */
  --padding-81xl-2: 100.2px;
  --padding-xl: 20px;
  --padding-11xl-5: 30.5px;
  --padding-46xl: 65px;
  --padding-11xs-5: 1.5px;
  --padding-71xl: 90px;
  --padding-61xl: 80px;
  --padding-140xl: 159px;
  --padding-39xl: 58px;
  --padding-84xl: 103px;
  --padding-19xl: 38px;
  --padding-21xl: 40px;
  --padding-48xl: 67px;
  --padding-92xl: 111px;
  --padding-52xl: 71px;
  --padding-53xl: 72px;
  --padding-27xl: 46px;
  --padding-90xl: 109px;
  --padding-lgi: 19px;
  --padding-13xl: 32px;
  --padding-18xl: 37px;
  --padding-91xl: 110px;
  --padding-16xl: 35px;
  --padding-12xs: 1px;
  --padding-50xl: 69px;
  --padding-26xl: 45px;
  --padding-10xl: 29px;
  --padding-246xl: 265px;
  --padding-7xl: 26px;
  --padding-153xl: 172px;
  --padding-93xl: 112px;
  --padding-63xl: 82px;
  --padding-77xl: 96px;
  --padding-mid: 17px;
  --padding-12xl: 31px;
  --padding-290xl: 309px;
  --padding-182xl: 201px;
  --padding-112xl: 131px;
  --padding-smi: 13px;
  --padding-7xl-5: 26.5px;
  --padding-9xl: 28px;
  --padding-8xs-5: 4.5px;
  --padding-4xs: 9px;
  --padding-2xl-5: 21.5px;
  --padding-2xs: 11px;
  --padding-40xl: 59px;
  --padding-72xl: 91px;
  --padding-45xl: 64px;
  --padding-2xl: 21px;
  --padding-xs: 12px;
  --padding-29xl: 48px;
  --padding-5xs: 8px;
  --padding-8xs: 5px;
  --padding-20xl: 39px;
  --padding-28xl: 47px;
  --padding-mini: 15px;
  --padding-10xs-5: 2.5px;
  --padding-11xs: 2px;
  --padding-6xl: 25px;
  --padding-8xl: 27px;
  --padding-sm: 14px;
  --padding-3xl: 22px;
  --padding-base: 16px;
  --padding-lg: 18px;
  --padding-10xs: 3px;
  --padding-9xs: 4px;
  --padding-6xs: 7px;
  --padding-7xs: 6px;
  --padding-5xl: 24px;
  --padding-3xs: 10px;
  --padding-17xl: 36px;
  --padding-186xl: 205px;
  --padding-83xl: 102px;
  --padding-4xl: 23px;
  --padding-11xl: 30px;
  --padding-38xl: 57px;
  --padding-15xl: 34px;
  --padding-35xl: 54px;
  --padding-30xl: 49px;
  --padding-mid-7: 17.7px;
  --padding-base-8: 15.8px;
  --padding-10xs-2: 2.2px;
  --padding-56xl: 75px;
  --padding-47xl: 66px;
  --padding-5xs-5: 7.5px;
  --padding-smi-5: 12.5px;

  /* Border radiuses */
  --br-xl: 20px;
  --br-31xl: 50px;
  --br-26xl: 45px;
  --br-3xs: 10px;
  --br-5xs: 8px;
  --br-8xs: 5px;
  --br-2xs: 11px;
  --br-3xs-5: 9.5px;
  --br-xs: 12px;
  --br-mini: 15px;
  --br-mini-3: 14.3px;
  --br-base-8: 15.8px;
  --br-base-6: 16.6px;
  --br-9xs: 4px;
  --br-7xs: 6px;
  --br-7xl: 26px;
  --br-9xl: 28px;
  --br-81xl: 100px;
  --br-10xs-5: 2.5px;
  --br-8xs-3: 4.3px;
  --br-3xl: 22px;
  --br-13xl: 32px;
  --br-mini-9: 14.9px;
  --br-3xs-3: 9.3px;

  /* Effects */
  --shadow-2: 0px 4px 12px rgba(0, 0, 0, 0.06);
  --shadow: 0px 4px 12px rgba(13, 10, 44, 0.06);
  --shadow-dark: 0px 6px 20px rgba(13, 10, 44, 0.1);
  --shadow-shadow: 6px 6px 60px rgba(0, 0, 0, 0.08);
}
